

*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: url(../img/mathbackgrounf.jpg);
  background-size: cover;
  text-align: center;
}

h1, h2{
  text-align: center;
  background: pink;
  width: 20%;
  height: 150px;
  margin: 10% 40%;
  border-radius: 10%;
  font-size: 2rem;
}
h1{
  padding-top: 2%;
}

input, button{
  width: 7%;
  height: 50px;
  font-size: 2rem;
  border-radius: 10%;
}
section{
  float: left;
  width: 30%;
  margin: 5% 35%;
}
button{
  background: pink;
  margin-right: 2%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
